
.main-cont{
	margin: 50px;
    display: block;
    width: 500px;
}
#kanji{
	color: #e61919;
    font-size: 76px;
    font-family: "MS PGothic";
    padding: 15px;
    height: 110px;
}

#ans{
    border: 0px;
    font-size: 24px;
        height: 50px;
}

.timer{
    color: #e61919;
    font-size: 20px;
    height: 37px;
}

.score{
    color: #e61919;
    font-size: 20px;
    height: 37px;
}
.total{
    color: #2196f3;
    font-size: 20px;
    height: 37px;
}

.errorList{
    list-style-position: inside;
    max-height: 300px;
    padding-top: 20px;
    overflow: auto;
}

li.item{list-style:none; padding:5px;}