
.main-cont{
	margin: 50px;
    display: block;
    width: 500px;
}
#kanji{
	color: #e61919;
    font-size: 6em;
    font-family: "MS PGothic";
    padding: 15px;
    height: 110px;
}

#ans{
    border: 0px;
    font-size: 2em;
    height: 50px;
}

.timer{
    color: #e61919;
    font-size: 1.3em;
    height: 37px;
}

.score{
    color: #e61919;
    font-size: 1.3em;
    height: 37px;
}
.total{
    color: #2196f3;
    font-size: 1.3em;
    height: 37px;
}

.wrongList{
    list-style-position: inside;
    font-size: 1.5em;
   /* max-height: 300px;
    overflow: auto;*/
}

li.item{
    list-style:none; 
    padding:2px;
}

.wrongList li:hover{
    background-color: #d9edf7;
    font-weight: bold;
}