
.main-cont{
	margin: 50px;
    display: block;
}
table span{
   cursor:pointer;
   font-size: 20px;
   padding: 2px;
}

table span:hover{
  background-color: #d9edf7;
  border: 1px solid #286090;
  border-radius: 2px;
}

.table>tbody>tr>td{
      padding: 8px 0;
}
span.active{
    background-color: #d9edf7;
    border: 1px solid #286090;
    border-radius: 2px;
    font-weight: bold;
}

.table-left{
    margin-bottom: 10px;
    max-height: 250px;
    overflow: auto;
}

.searchBox{
    width: auto;
    margin: 5px;
}